<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QueriesProcess.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QueriesProcess.My.MySettings>
            <setting name="MailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="MailCC" serializeAs="String">
                <value />
            </setting>
            <setting name="MailBCC" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportMail" serializeAs="String">
                <value>aremonfe@gmail.com</value>
            </setting>
            <setting name="DBFileName" serializeAs="String">
                <value>Z:\VSTO\DBHLAG.mdb</value>
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Temp\Log</value>
            </setting>
        </QueriesProcess.My.MySettings>
    </userSettings>
</configuration>