<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCHECK.CLOUD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHapagLloydService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.1.129.73:2455/Services/HapagLloydService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHapagLloydService"
                contract="AppService.IHapagLloydService" name="BasicHttpBinding_IHapagLloydService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <TCHECK.CLOUD.My.MySettings>
            <setting name="DBFileName" serializeAs="String">
                <value>DBColdTreatment.xlsx</value>
            </setting>
            <setting name="LookAndFeel" serializeAs="String">
                <value>Money Twins</value>
            </setting>
            <setting name="MailServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MailServerUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MailServerSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailTextSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="MailTargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSourcePath" serializeAs="String">
                <value>\\ww.hl.lan\LM2\Public\VSTO</value>
            </setting>
            <setting name="MaxTemp" serializeAs="String">
                <value>1.67</value>
            </setting>
            <setting name="DataTargetPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value>Cesar.carranza@hlag.com;Veronica.Portella@hlag.com;Claudia.Pinillos@hlag.com</value>
            </setting>
            <setting name="MailSender" serializeAs="String">
                <value />
            </setting>
            <setting name="MailEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VendorSourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MDBFileName" serializeAs="String">
                <value>dbColdTreatment.accdb</value>
            </setting>
            <setting name="MDBDirectory" serializeAs="String">
                <value>\\ww.hl.lan\LM2\Public\VSTO</value>
            </setting>
            <setting name="MaxReadingDays" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MailCC" serializeAs="String">
                <value>perudownload@hlag.com</value>
            </setting>
            <setting name="CustomDataSourceFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="MinTemp" serializeAs="String">
                <value>1.11</value>
            </setting>
            <setting name="TextDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="AudioEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharePoint_User" serializeAs="String">
                <value>paybotperu@hlag.com</value>
            </setting>
            <setting name="SharePoint_Password" serializeAs="String">
                <value>hapag2019</value>
            </setting>
            <setting name="SharePoint_Url" serializeAs="String">
                <value>https://hlag.sharepoint.com/sites/ITCPer</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value>1</value>
            </setting>
        </TCHECK.CLOUD.My.MySettings>
    </userSettings>
</configuration>
