<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppNet.DataProcessing.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <AppNet.DataProcessing.My.MySettings>
            <setting name="SharePoint_User" serializeAs="String">
                <value>arellano.fernando@ext.hlag.com</value>
            </setting>
            <setting name="SharePoint_Password" serializeAs="String">
                <value>hapag20192</value>
            </setting>
            <setting name="SharePoint_Url" serializeAs="String">
                <value>https://hlag.sharepoint.com/sites/ITCPer</value>
            </setting>
            <setting name="LookAndFeel" serializeAs="String">
                <value>Visual Studio 2013 Blue</value>
            </setting>
            <setting name="DBFileName" serializeAs="String">
                <value>Z:\VSTO\DataProcessingHL.accdb</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Temp\Log</value>
            </setting>
        </AppNet.DataProcessing.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHapagLloydService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.1.129.73:2455/Services/HapagLloydService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHapagLloydService"
                contract="AppService.IHapagLloydService" name="BasicHttpBinding_IHapagLloydService" />
        </client>
    </system.serviceModel>
</configuration>