<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HLAG.FIN.NET.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <HLAG.FIN.NET.My.MySettings>
            <setting name="DBConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="BankSourceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="BankTargetDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="MDBFileName" serializeAs="String">
                <value>DBFinance.accdb</value>
            </setting>
            <setting name="MDBDirectory" serializeAs="String">
                <value>C:\Users\ferar\Google Drive\Proyectos\HLAG\VSTO</value>
            </setting>
            <setting name="LookAndFeel" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LedgerTargetDirectory1" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory1" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerTargetDirectory5" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory5" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerTargetDirectory6" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory6" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerTargetDirectory8" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory8" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerTargetDirectory14" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory14" serializeAs="String">
                <value/>
            </setting>
            <setting name="MDBUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="MDBPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DetraSourceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="DetraTargetDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RetenSourceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RetenTargetDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="AudioEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LedgerTargetDirectory3" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory3" serializeAs="String">
                <value/>
            </setting>
            <setting name="PaintStyle" serializeAs="String">
                <value>ExplorerBar</value>
            </setting>
            <setting name="LedgerTargetDirectory7" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory7" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerTargetDirectory13" serializeAs="String">
                <value/>
            </setting>
            <setting name="LedgerSourceDirectory13" serializeAs="String">
                <value/>
            </setting>
        </HLAG.FIN.NET.My.MySettings>
    </userSettings>
</configuration>
