<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppNet.Controlling.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AppNet.Controlling.My.MySettings>
            <setting name="LookAndFeel" serializeAs="String">
                <value>Office 2010 Blue</value>
            </setting>
            <setting name="PaintStyle" serializeAs="String">
                <value>ExplorerBar</value>
            </setting>
            <setting name="WebServiceURL" serializeAs="String">
                <value>http://apps.cnpsa.com:2250/HapagLloyd/HapagLloydService.svc</value>
            </setting>
        </AppNet.Controlling.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHapagLloydService" closeTimeout="10:00:00"
                    openTimeout="02:00:00" receiveTimeout="10:00:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vapps.dyndns-server.com:2455/HapagLloydService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHapagLloydService"
                contract="AppService.IHapagLloydService" name="BasicHttpBinding_IHapagLloydService" />
        </client>
    </system.serviceModel>
</configuration>