<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppNet.LocalIncomes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <AppNet.LocalIncomes.My.MySettings>
            <setting name="SharePoint_User" serializeAs="String">
                <value>paybotperu@hlag.com</value>
            </setting>
            <setting name="SharePoint_Password" serializeAs="String">
                <value>hapag2019</value>
            </setting>
            <setting name="SharePoint_Url" serializeAs="String">
                <value>https://hlag.sharepoint.com/sites/ITCPer</value>
            </setting>
            <setting name="LookAndFeel" serializeAs="String">
                <value>Office 2010 Black</value>
            </setting>
            <setting name="DBFileName" serializeAs="String">
                <value>X:\VSTO\DataProcessingHL.accdb</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Temp\Log</value>
            </setting>
        </AppNet.LocalIncomes.My.MySettings>
    </userSettings>
</configuration>