<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Paybot.HapagLloydPeru.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Paybot.HapagLloydPeru.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
      <Paybot.HapagLloydPeru.MySettings>
        <setting name="DBFileName" serializeAs="String">
          <value>Z:\VSTO\PaybotHL.accdb</value>
        </setting>
        <setting name="DBFileNameBak" serializeAs="String">
          <value>\\ww.hl.lan\LM2\Public\VSTO\DBHLAG.mdb</value>
        </setting>
        <setting name="DBUserName" serializeAs="String">
          <value />
        </setting>
        <setting name="DBPassword" serializeAs="String">
          <value />
        </setting>
        <setting name="AttachedFilePath" serializeAs="String">
          <value>C:\Paybot</value>
        </setting>
        <setting name="ReplyAllMails" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TOMailAddress" serializeAs="String">
          <value>4biznessolutions@gmail.com</value>
        </setting>
        <setting name="CCMailAddress" serializeAs="String">
          <value />
        </setting>
        <setting name="BCCMailAddress" serializeAs="String">
          <value />
        </setting>
        <setting name="SupportMailAddress" serializeAs="String">
          <value>aremonfe@gmail.com</value>
        </setting>
        <setting name="LogFilePath" serializeAs="String">
          <value>C:\Paybot\Log</value>
        </setting>
        <setting name="TRM_UserRest" serializeAs="String">
          <value />
        </setting>
        <setting name="TRM_PasswordRest" serializeAs="String">
          <value />
        </setting>
        <setting name="TRM_GrantType" serializeAs="String">
          <value>password</value>
        </setting>
        <setting name="TRM_UrlToken" serializeAs="String">
          <value>https://plataformadepagosweb.tramarsa.com.pe</value>
        </setting>
        <setting name="TRM_UrlService" serializeAs="String">
          <value>http://104.45.136.32:1717/api/deuda/</value>
        </setting>
        <setting name="PPL_UrlSoap" serializeAs="String">
          <value>http://hapagqa.paperless.com.pe/axis2/services/Online?wsdl</value>
        </setting>
        <setting name="PPL_UserSoap" serializeAs="String">
          <value>adminppl</value>
        </setting>
        <setting name="PPL_PasswordSoap" serializeAs="String">
          <value>abc123</value>
        </setting>
        <setting name="PPL_TipoFolioSoap" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="PPL_TipoRetornoSoap" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="CompanyTaxCode" serializeAs="String">
          <value>20492185087</value>
        </setting>
        <setting name="CompanyName" serializeAs="String">
          <value>HAPAG-LLOYD PERU S.A.C.</value>
        </setting>
        <setting name="CompanyAddress" serializeAs="String">
          <value>CALLE DEAN VALDIVIA 148 TORRE A PISO 03</value>
        </setting>
        <setting name="CompanyZipCode" serializeAs="String">
          <value>150131</value>
        </setting>
        <setting name="CompanyDepartment" serializeAs="String">
          <value>LIMA</value>
        </setting>
        <setting name="CompanyProvince" serializeAs="String">
          <value>LIMA</value>
        </setting>
        <setting name="CompanyDistrict" serializeAs="String">
          <value>SAN ISIDRO</value>
        </setting>
        <setting name="SharePoint_User" serializeAs="String">
          <value>paybotperu@hlag.com</value>
        </setting>
        <setting name="SharePoint_Password" serializeAs="String">
          <value>hapag2019</value>
        </setting>
        <setting name="SharePoint_Url" serializeAs="String">
          <value>https://hlag.sharepoint.com/sites/ITCPer</value>
        </setting>
      </Paybot.HapagLloydPeru.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <applicationSettings>
    <Paybot.HapagLloydPeru.MySettings>
      <setting name="Paybot_HapagLloydPeru_PaperlessQA_Online" serializeAs="String">
        <value>http://hapagqa.paperless.com.pe:80/axis2/services/Online.OnlineHttpSoap11Endpoint/</value>
      </setting>
    </Paybot.HapagLloydPeru.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHapagLloydService" closeTimeout="00:50:00"
            openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://200.1.129.73:2455/Services/HapagLloydService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHapagLloydService"
        contract="AppService.IHapagLloydService" name="BasicHttpBinding_IHapagLloydService" />
    </client>
  </system.serviceModel>
</configuration>
